# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
*.log
.cache
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Media and static files
media/
static/

# IDE specific files
.idea/
*.swp
*~
.DS_Store
